/build
/.xmake/
/.vscode/
/.cache/
/DiffAlgo
/.vs/yeet/copilot-chat/09a616cb/sessions
/.vs/yeet/CopilotIndices/17.12.53.23981
/.vs
/external/cryptopp/TestPrograms
/external/cryptopp/TestData
/external/cryptopp/TestVectors/aead.txt
/external/cryptopp/TestVectors
/out/build/x64-Debug/.cmake/api/v1
/out/build/x64-Debug
